.about{  
    height: 100dvh;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    position: relative;
}
.about h2{
    color: var(--heading-color);
    font-size: 4rem;
    margin-bottom: 3rem;
}
.about h2 span{
    color: var(--sec-heading-color);
    font-family: 'Arizonia', sans-serif;
}
.about h3{
    color: var(--text-color);
    font-size: 2.5rem;
}
.about h4{
    font-size: 2rem;
    color: var(--text-sec-color);
}
.about p{
    color: var(--text-sec-color);
    margin: 2rem 0;
    width: 50%;
}
.about ul{
    list-style-type: none;
    display: flex;
    width: 50%;
    gap: 1rem;
    margin: 2rem 0;
}
.about ul li{
    background-color: #333;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-color);
    cursor:default;
    transition: all 0.25s ease-in-out;
}
.about ul li:hover{
    background-color: #444;
}
.about ul li i, .about ul li span{
    color: var(--sec-heading-color);
    margin-right: 0.5rem;
}
.about img{
    width: 750px;
    position: absolute;
    bottom: 0;
    right: 5%;
    filter: drop-shadow(0px 0px 10px var(--sec-heading-color));
    user-select: none;
}