.contact{
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    background: var(--bg-color);
}
.contact h2{
    color: var(--heading-color);
    font-size: 4rem;
    margin-bottom: 3rem;
}
.contact h2 span{
    color: var(--sec-heading-color);
    font-family: 'Arizonia', sans-serif;
}
.contact .contact-content{
    display: flex;
    justify-content: space-evenly;
}
.contact .contact-content .social{
    width: 50%;
}
.contact .contact-content .social p{
    color: var(--text-sec-color);
}
.contact .contact-content .social .social-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 3rem auto;
}
.contact .contact-content .social .social-grid .social-element{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact .contact-content .social .social-grid .social-element i{
    color: var(--sec-heading-color);
    font-size: 3rem;
}
.contact .contact-content .social .social-grid .social-element .social-element-content h3{
    color: var(--sec-heading-color);
}
.contact .contact-content .social .social-grid .social-element .social-element-content a{
    text-decoration: none;
    color: var(--text-sec-color);
    transition: all 0.25s ease-in-out;
}
.contact .contact-content .social .social-grid .social-element .social-element-content a:hover{
    color: var(--text-color);
}
form{
    width: 40%;
    display: flex;
    flex-direction: column;
}
form label{
    color: var(--heading-color);
    margin: 0.5rem 0;
}
form label span{
    color: var(--sec-heading-color);
}
form input{
    background-color: transparent;
    border: 1px solid var(--sec-heading-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
}
form input:hover{
    border-color: var(--text-color);
}
form input:focus{
     border-color: var(--text-color);   
}
form textarea{
    height: 5rem;
    background-color: transparent;
    border: 1px solid var(--sec-heading-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
    resize: none;
}
form textarea:hover{
    border-color: var(--text-color);
}
form textarea:focus{
     border-color: var(--text-color);   
}
form button{
    font-family: 'Ubuntu', sans-serif;
    width: max-content;
    background-color: var(--sec-heading-color);
    border: none;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
form button:hover{
    background-color: #8e2022;
}