/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&Zalando+Sans:ital,wdth,wght@0,100.4,200..900;1,100.4,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap'); */
@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Arizonia';
    src: url("../fonts/Arizonia-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Zalando Sans';
    src: url("../fonts/ZalandoSans-VariableFont.woff2") format("woff2");
    font-weight: 100 900;
}