:root{
    --heading-color: #6c6c6c;
    --font-color: #1b1b1b;
    --bg-color: #fff;
}
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.max-width{
    max-width: 1200px;
}