:root{
    --heading-color: #fff;
    --sec-heading-color: #9f2527;
    --text-sec-color:#aaa;
    --text-color: #fff;
    --bg-color: linear-gradient(90deg, #1a1a1a 0%, #212121FF 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background: var(--bg-color);
    max-width: 100%;
    overflow-x: hidden;
}
hr{
    margin: 0 2rem;
    border: none;
    height: 2px;
    background-color: #232323;
}
footer{
    background: var(--bg-color);
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    color: var(--text-sec-color);
    text-align: center;
}