:root{
    --heading-color: #fff;
    --sec-heading-color: #d8090d;
    --text-sec-color:#aaa;
    --text-color: #fff;
    --bg-color: #1a1a1a;
}
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: var(--bg-color);
}