header{
    height: 100dvh;
    position: relative;
    background: var(--bg-color);
}
header::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--sec-heading-color);
    user-select: none;
    filter: blur(100px);
    border-radius: 50%;
    opacity: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header nav{
    width: 100%;
    right: 0;   
}
header .menu{
    display: flex;
    float: right;
    gap: 4rem;
    list-style-type: none;
    padding: 2rem;
}
header .menu li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-sec-color);
    transition: all ease-in-out 0.25s;
}
header .menu li a:hover{
    color: var(--text-color);
}
header .header-content .responsive-heading{
    font-family: 'Zalando Sans', sans-serif;
    display: none;
}
header .header-content .responsive-p{
    display: none;
}
header .header-content h1{
    color: var(--heading-color);
    font-family: 'Zalando Sans', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22rem;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: -2rem;
    user-select: none;
}
header .header-content p{
    color: var(--sec-heading-color);
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-5deg);
    background-color: transparent;
    font-family: 'Arizonia', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px var(--bg-color);
    user-select: none;
}
header blockquote{
    background-color: transparent;
    color: var(--text-sec-color);
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
header blockquote span{
    color: var(--sec-heading-color);
}
#menu-toggle { 
    display: none;
}
.hamburger { 
    display: none; 
    user-select: none;
    width: max-content;
    float: right;
}