header{
    height: 100dvh;
    position: relative;
}
header nav{
    padding: 2rem;
    float: right;
    background-color: var(--bg-color);
}
header nav ul{
    display: flex;
    gap: 4rem;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-sec-color);
    transition: all ease-in-out 0.25s;
}
header nav ul li a:hover{
    color: var(--text-color);
}
header .header-content h1{
    color: var(--heading-color);
    font-family: 'Domine', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22rem;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: -2rem;
    user-select: none;
}
header .header-content p{
    color: var(--sec-heading-color);
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-5deg);
    background-color: transparent;
    font-family: 'Arizonia', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px var(--bg-color);
    user-select: none;
}
header blockquote{
    background-color: transparent;
    color: var(--text-sec-color);
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}
header blockquote span{
    color: var(--sec-heading-color);
}