.myWorks{
    background-color: #232323;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    position: relative;
}
.myWorks h2{
    color: var(--heading-color);
    font-size: 4rem;
    margin-bottom: 3rem;
}
.myWorks h2 span{
    color: var(--sec-heading-color);
    font-family: 'Arizonia', sans-serif;
}
.myWorks h3{
    color: var(--text-color);
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
.myWorks video{
    width: 70%;
    display: flex;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 40px var(--sec-heading-color);
    user-select: none;
}
/* .myWorks::before{
    content: 'A';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--sec-heading-color);
} */
 .myWorks h4{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
 }
 .myWorks p{
    color: var(--text-sec-color);
    width: 70%;
    margin: auto;
 }
 .myWorks ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    margin: 3rem auto;
 }
 .myWorks ul .badge{
    background-color: #333;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-color);
    cursor:default;
    transition: all 0.25s ease-in-out;
    user-select: none;
 }
 .myWorks ul .badge:hover{
    background-color: #444;
}
.myWorks ul .badge i{
    color: var(--sec-heading-color);
    margin-right: 0.5rem;
}
.myWorks a{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    width: max-content;
    text-decoration: none;
    color: var(--text-color);
    background-color: #69181a;
    padding: 1rem 3rem;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.myWorks a:hover{
    background-color: #8e2022;
}