@media screen and (max-width: 1500px) {
    header .header-content h1{
        font-size: 18rem;
    }
}
@media screen and (max-width: 1300px){
    header .header-content h1{
        font-size: 15rem;
        letter-spacing: -1.2rem;
    }
    header .header-content p{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1200px){
    header .menu, .about, .myWorks, .contact{
        padding: 2rem 3rem;
    }
    .about{
        height: auto;
    }
    .about img{
        display: none;
    }
    .about p, .about ul{
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    .about h2, .myWorks h2, .contact h2{
        font-size: 3rem;
    }
    .about h3, .myWorks h3{
        font-size: 2rem;
    }
    .myWorks h4{
        font-size: 1.5rem;
    }
    header{
        height: auto;
        text-align: center;
    }
    header .header-content h1{
        position: static;
        transform: translate(0);
        font-size: 12rem;
        text-align: center;
        padding: 10rem 3rem;
    }
    header blockquote{
        position: static;
        transform: translate(0);
        padding: 0 3rem 5rem 3rem;
    }
    header::before{
        width: 300px;
        height: 300px;
        opacity: 30%;
    }
    .contact .contact-content{
        flex-direction: column;
        align-items: center;
    }
    .contact .contact-content .social, form{
        width: 70%;
    }
    form button{
        display: flex;
        margin: auto;
    }
}
@media screen and (max-width: 800px){
    header .header-content h1{
        font-size: 10rem;
    }
    header .header-content p{
        font-size: 2rem;
    }
    .myWorks video{
        width: 100%;
    }
    .myWorks p{
        width: 100%;
    }
    .myWorks ul{
        width: 100%;
    }
    .contact .contact-content .social, form{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .about h2, .myWorks h2, .contact h2{
        font-size: 2.5rem;
    }
    header .header-content h1{
        font-size: 8rem;
        letter-spacing: -0.8rem;
    }
    header .header-content p{
        top: 43%;
    }
    .contact .contact-content .social .social-grid{
        grid-template-columns: 1fr;
    }
    .contact .contact-content .social .social-grid .social-element i{
        font-size: 2rem;
    }
    .hamburger {
    display: block;
    margin: 2rem 2rem;
    border-radius: 50%;
    padding: 1rem;
    background: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.9);
  }
  header nav{
    position: fixed;
    z-index: 1000;
  }
  header nav:has(#menu-toggle:checked){
    background-color: rgba(26, 26, 26, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  header .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  header .menu li{
    display: block;
    margin: 2rem;
  }
    #menu-toggle:checked ~ .menu {
    display: block;
    }
}